# =====================================================
# PYTHON
# =====================================================

__pycache__/
*.py[cod]
*$py.class

# =====================================================
# VIRTUAL ENVIRONMENTS
# =====================================================

venv/
env/
ENV/
.venv/

# Your current environment
Nutrimap_AI/

# =====================================================
# JUPYTER
# =====================================================

.ipynb_checkpoints/

# =====================================================
# DATA FILES
# =====================================================

data/
datasets/
raw_data/
processed_data/

*.csv
*.xlsx
*.xls
*.parquet
*.feather

# =====================================================
# MODEL FILES
# =====================================================

models/
checkpoints/

*.h5
*.keras
*.pt
*.pth
*.pkl
*.joblib
*.onnx

# =====================================================
# LOGS
# =====================================================

logs/
*.log

# =====================================================
# CACHE
# =====================================================

.cache/
.pytest_cache/
.mypy_cache/

# =====================================================
# IDE
# =====================================================

.vscode/
.idea/

# =====================================================
# OS FILES
# =====================================================

.DS_Store
Thumbs.db

# =====================================================
# EARTH ENGINE
# =====================================================

*.geojson
*.shp
*.dbf
*.shx
*.prj
*.txt
*.md
*.zip


# =====================================================
# SECRETS
# =====================================================

.env
.env.*
credentials.json
service_account.json

DL_Results/
V1_notebooks/
ML_Results/
DL_Results.zip/
vazhoor/
ordinari_K_map/
documents/
code/